body {
  font-family: "Source Sans 3", sans-serif;
  margin: 0; /* Optional: reset default margins */
  padding: 0; /* Optional: reset default padding */
  box-sizing: border-box; /* Optional: standardize box-sizing */
}

@tailwind base;
@tailwind components;
@tailwind utilities;
